.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Duas colunas
    gap: 20px; // Espaçamento entre os itens
}

.box{
    display:flex;
    justify-content: center;
    

    a{
        text-align: center;
        margin-top:5px;

    }
}